.graph-container {
    position: relative;
    width: 600px; /* задайте желаемую ширину */
    height: 1000px; /* задайте желаемую высоту */
    left: 100px;
    border: 2px solid gray; /* серые границы */
    background: url('grid.gif'); /* путь к файлу с сеткой */
    background-size: 100% 100%; /* заполнение всей области контейнера */
  }
  